= f.label :address
#twzipcode.row
  .col-sm-2{ data: { role: "county", style:"form-control", value: @house.city, name: "house[city]" } }
  .col-sm-2{ data: { role: "district", style:"form-control", value: @house.district, name: "house[district]" } }
  .col-sm-2{ data: { role: "zipcode", style:"form-control", name: "house[zipcode]" } }
  = f.input :address, wrapper_html: { class: 'col-sm-6' }, label: false
= f.input :hide_address, as: :boolean

/ #twzipcode.row
/   = f.input :city, as: :select, wrapper_html: { class: 'col-sm-2' }
/   .hidden{ data: { role: "county", name: "house[city]" } }

/   = f.input :district, as: :select, wrapper_html: { class: 'col-sm-2' }
/   .hidden{ data: { role: "district", name: "house[district]" } }

  
/   /= f.input :zipcode, wrapper_html: { class: 'col-sm-2' }
/   .col-sm-2
/     = f.label :zipcode
/     .form-group{ data: { role: "zipcode", style:"form-control", name: "house[zipcode]" } }

/   = f.input :address, wrapper_html: { class: 'col-sm-6' }

/ = f.input :hide_address, as: :boolean