%ul.nav.nav-sidebar
  - ['basic', 'space', 'amenity', 'description', 'photo', 'date_status'].each do |s|
    %li{ class: ('active' if action_name == s) }= link_to s, send("#{s}_house_path", @house)

= link_to "View", @house, class:'btn btn-success'