- if policy(@new_comment).new_comment?
  - if current_user
    = render 'comments/form', obj: obj
  - else
    %p
      Want to comment?
      = render 'common/fb_login_button', text: 'FB登入'
      or
      = link_to 'Sign in', signin_path, class:'btn btn-success'
      Now!

- @comments.try(:each) do |comment|
  = render 'comments/comment', comment: comment

/= paginate @comments, :remote => true