- if current_user
  - if policy(@new_comment).new_comment?
    = render 'comments/form', obj: obj
- else
  %p.sign_in_link Want to comment?

- @comments.try(:each) do |comment|
  = render 'comments/comment', comment: comment

/= paginate @comments, :remote => true