= simple_form_for :comment, url: send("new_comment_#{obj.model_name.to_s.downcase}_path", obj) do |f|
  = f.input :content, as: :text, label: false, placeholder: 'Tell me about it!'
  = f.button :submit, class: 'btn-xs'