= f.label :address
#twzipcode.row
  .col-sm-2.form-group{ data: { role: "county", style:"select optional form-control", value: @house.city, name: "house[city]" } }
  .col-sm-2.form-group{ data: { role: "district", style:"select optional form-control", value: @house.district, name: "house[district]" } }
  .col-sm-2.form-group{ data: { role: "zipcode", style:"string optional form-control", name: "house[zipcode]" } }
  = f.input :address, wrapper_html: { class: 'col-sm-6' }, label: false
= f.input :hide_address, as: :boolean