= link_to 'Amenity', amenity_house_path(@house)
= link_to 'Description', description_house_path(@house)
= link_to 'Photo', photo_house_path(@house)
= link_to 'Date Status', date_status_house_path(@house)