<div class="col-md-6">
  <table>
    <tr>
      <th>紫米粥系列</th>
      <th>冷</th>
      <th>熱</th>
    </tr>
    <tr>
      <td>紫米龍眼粥</td>
      <td>  </td>  
      <td>  </td>  
    </tr>
    <tr>
      <td>紫米龍眼粥+紅豆</td>
      <td>  </td>  
      <td>  </td>  
    </tr>
    <tr>
      <td>紫米龍眼粥+大湯圓</td>
      <td>  </td>  
      <td>  </td>  
    </tr>
    <tr>
      <td>紫米龍眼粥</td>
      <td>  </td>  
      <td>  </td>  
    </tr>
    <tr>
      <td>紫米龍眼粥+紅豆</td>
      <td>  </td>  
      <td>  </td>  
    </tr>
    <tr>
      <td>紫米龍眼粥+大湯圓</td>
      <td>  </td>  
      <td>  </td>  
    </tr>
  </table>
</div>
<div class="col-md-6">
  <table>
    <tr>
      <th>紫米粥系列</th>
      <th>冷</th>
      <th>熱</th>
    </tr>
    <tr>
      <td>紫米龍眼粥</td>
      <td>  </td>  
      <td>  </td>  
    </tr>
    <tr>
      <td>紫米龍眼粥+紅豆</td>
      <td>  </td>  
      <td>  </td>  
    </tr>
    <tr>
      <td>紫米龍眼粥+大湯圓</td>
      <td>  </td>  
      <td>  </td>  
    </tr>
    <tr>
      <td>紫米龍眼粥</td>
      <td>  </td>  
      <td>  </td>  
    </tr>
    <tr>
      <td>紫米龍眼粥+紅豆</td>
      <td>  </td>  
      <td>  </td>  
    </tr>
    <tr>
      <td>紫米龍眼粥+大湯圓</td>
      <td>  </td>  
      <td>  </td>  
    </tr>
  </table>
</div>
<style>
table {
  border-collapse: collapse;
}

th {
  font-weight: bold;
  color: white;
  background-color: black;
}

table, th, td {
  border: 2px solid black;
}

th {
  border-right: 2px solid white;
}

th:last-child {
  border-left: 2px solid white;
  border-right: 2px solid black;
}
</style>