= simple_form_for :user, url: connect_with_zuker_user_path(id) do |f|
  = f.input :phone_number, hint: false
  = f.input :password, hint: false
  = f.button :submit, "Sign in", class: "btn btn-success"