#verify-pin
  %h3 Enter your PIN
  = simple_form_for :verify, { url: verify_pin_user_path(@user.id) } do |f|
    
    = f.input :pin, autofocus: true
    = submit_tag "Verify PIN", class: "btn btn-primary"
  /= current_user.pin.id
  /\|
  /= current_user.pin.content
  /\|
  /= Time.current
  /\|
  /= Time.current - current_user.pin.created_at

#status-box.alert.alert-success
  %p#status-message Status: Haven’t done anything yet