.container-fluid
  .row
    .col-sm-6
      .row
        .col-xs-12
          %a{ href: "tel:0952652103" }
            %img{ src: "1.jpg", style:'width: 100%; height: auto;' }
        .col-xs-12
          %h2.text-center 阿雲
    .col-sm-6
      .row
        .col-xs-12
          %a{ href: "tel:0931577282" }
            %img{ src: "2.jpg", style:'width: 100%; height: auto;' }
        .col-xs-12
          %h2.text-center 阿平
    .col-sm-6
      .row
        .col-xs-12
          %a{ href: "tel:0934042698" }
            %img{ src: "3.jpg", style:'width: 100%; height: auto;' }
        .col-xs-12
          %h2.text-center 阿娥
    .col-sm-6
      .row
        .col-xs-12
          %a{ href: "tel:0986515125" }
            %img{ src: "4.jpg", style:'width: 100%; height: auto;' }
        .col-xs-12
          %h2.text-center 表姐
    .col-sm-6
      .row
        .col-xs-12
          %a{ href: "tel:0939395183" }
            %img{ src: "5.jpg", style:'width: 100%; height: auto;' }
        .col-xs-12
          %h2.text-center 阿祺
    .col-sm-6
      .row
        .col-xs-12
          %a{ href: "tel:0920085183" }
            %img{ src: "6.jpg", style:'width: 100%; height: auto;' }
        .col-xs-12
          %h2.text-center 阿銘
    .col-sm-6
      .row
        .col-xs-12
          %a{ href: "tel:0982885618" }
            %img{ src: "7.jpg", style:'width: 100%; height: auto;' }
        .col-xs-12
          %h2.text-center 姨婆
    .col-sm-6
      .row
        .col-xs-12
          %a{ href: "tel:0982099877" }
            %img{ src: "8.jpg", style:'width: 100%; height: auto;' }
        .col-xs-12
          %h2.text-center 女婿