.row
  - @schools.each do |school|
    .col-lg-4.col-sm-6.school-grid
      = link_to school do
        .school-card{ style: "background-image: url(#{image_url('台灣大學.jpg')});" }
          %div
            %div
              %h2= render_school_category(school.id)