.container
  .row
    - @schools.each do |school|
      - bg = image_url("#{ render_school_category(school.id) }.jpg")
      .col-lg-4.col-sm-6.school-grid
        = link_to school do
          .school-card{ style: "background-image: url(#{ bg });" }
            %div
              %div
                %h2.white-text= render_school_category(school.id)