- bg = image_url("CA.jpg")
.school-grid  
  .school-card{ style: "background-image: url(#{ bg }); height: 600px;" }
    %div.vertically-center
      %div
        .white-text
          .col-sm-7
            %h1.white-text 台中市瑞豐街82號
            %h1.white-text 歡迎試聽
          .col-sm-5
            .white-text{ style: 'font-weight: bold; font-size: 42px;' } 04-22862293
            .white-text{ style: 'font-weight: bold; font-size: 42px;' } 04-22857412
            .white-text{ style: 'font-weight: bold; font-size: 42px;' } 0922-866859
