- bg = image_url("noletter-01.png")
- content_for :outside do
  #home-jumbotron.jumbotron{ style: "background-image: url(#{ bg });" }
    .container.vertically-center
      %div
        %h2 Which school do you go to?
        = render "common/search_form"

= render "common/houses_table"