<% model_name = obj.class.to_s.downcase %>
<% prefix = model_name + "_" %>
<% model_data = (model_name.camelize + "Data").constantize %>
<% model_data.public_send( "#{prefix}#{attribute_name}_categories").each do |key, value| %>
  <button name=<%= "#{prefix}#{attribute_name}"%> data-value=<%= value %> type="button" class="btn btn-default act_as_radio_button <%= obj.public_send("#{attribute_name}") == value ? 'btn-info' : 'btn-default' %>">
    <%= render_option_category(value, "#{prefix}#{attribute_name}") %>
  </button>
<% end %>