- model_name = obj.class.to_s.downcase
- model_data = (model_name.camelize + "Data").constantize
- model_data.public_send( "#{attribute_name}_categories").each do |key, value|
  %label.btn.btn-default{ :class => ("active" if obj.public_send("#{attribute_name}") == value) }
    /= f.input attribute_name, input_html: { type: act_as, autocomplete: "off", value: value }, as: :hidden
    = render_option_category(value, attribute_name)