/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
  @import "bootstrap-sprockets";
  @import "bootstrap";
  @import 'bootstrap-datetimepicker';
  @import "font-awesome-sprockets";
  @import "font-awesome";
  @import "nprogress";
  @import "nprogress-bootstrap";
  @import "sidebar";
  @import "carousel";
  @import "houses";
  @import "users";
  @import "pages";
  
body {  
  padding-bottom: 20px;
  font-family: "Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  &.large_padding_top {
    padding-top: 100px;
  }
  &.medium_padding_top {
    padding-top: 50px;
  }
}

#navbar {
  span {color: white; }
}

.white-text {
  color: white;
  a { color: white; }
}

.btn-facebook {
  border-color: #3B5998;
  border-bottom-color: #263a63;
  background-color: #3B5998;
  color: #fff;
}

.ajax-text {
  font-size: 20px;
}

h1, h2, h3, h4, h5 {
  &.inline {
    display: inline;
  }
}