/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
  @import "bootstrap-sprockets";
  @import "bootswatch/lumen/variables";
  @import "bootstrap";
  @import "bootswatch/lumen/bootswatch";
  @import "semantic-ui";
  @import 'bootstrap-datetimepicker';
  @import "font-awesome-sprockets";
  @import "font-awesome";
  @import "nprogress";
  @import "nprogress-bootstrap";
  @import "sidebar";
  @import "carousel";
  @import "houses";
  @import "users";
  @import "pages";
  @import "nav";
  
body {  
  padding-bottom: 20px;
  font-family: "ubuntu","Source Sans Pro","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  &.large_padding_top {
    padding-top: 70px;
  }
  &.medium_padding_top {
    padding-top: 54px;
  }
}

.white-text {
  color: white;
  a { color: white; }
}

.ajax-text {
  font-size: 20px;
}

h1, h2, h3, h4, h5 {
  &.inline {
    display: inline;
  }
  &.large {
    font-size: 46px;
  }
  &.bold {
    font-weight: bold;
  }
  font-weight: normal;
}

h1.panel-title {
  font-size: 46px;
  font-family: "ubuntu","Source Sans Pro","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-weight: normal !important;
}

.panel-heading {
  padding: 60px 15px;
  //background-color: #FCF7E3;
}

div.vertically-center {
  display: table;
  & > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

.btn {
  font-size: 16px;
  font-weight: normal;
}

.reply_text {
  margin-right: 10px;
}

a i {
  //color: rgb(90, 90, 90);
}

.margin-bottom {
  margin-bottom: 0.67em;
}

.margin-top {
  margin-top: 0.67em;
}
