%span
  = link_to '/auth/facebook', class:'btn btn-facebook' do
    %span.icon-container
      = icon('facebook')
    %span.text-container
      - if action_name == 'show' && controller_name == 'users'
        連結Facebook
      - else
        FB登入