%span
  = link_to facebook_signin_path, class:'btn btn-facebook' do
    %span.icon-container
      = icon('facebook')
    %span.text-container
      - if action_name == 'show'
        連結Facebook
      - else
        Facebook登入